.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #2575fc;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.auth-card span {
  color: #2575fc;
  cursor: pointer;
}
